@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
/* Header */
.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  top: 0;
  padding: 30px 0;
  z-index: 999;
  transition: 0.3s linear;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container p {
  font-size: 1.2rem;
  color: #fff;
}

.navbar .menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.navbar .menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}

.navbar .navbar-menu a {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 30px;
  transition: 0.2s linear;
}

.navbar .navbar-menu a:hover {
  color: #48dbfb !important;
}

.sticky {
  background-color: #fff;
  padding: 18px 0;
}

.sticky .container p,
.sticky .navbar-menu a {
  color: #111;
}

.sticky .menu-toggler span {
  background-color: #111;
}

#home {
  height: 100vh;
  min-height: 500px;
  background: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

#home .content {
  width: 100%;
  color: #fff;
}

#home .content h1 {
  font-size: 3rem;
  margin-bottom: 60px;
  color: #fff;
  font-weight: 800;
}

#home .content h1::after {
  content: " Jonathan";
  animation: textanimate 10s linear infinite;
}

#home .content .social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#home .content .social .contact-details {
  font-size: 1.1rem;
  text-shadow: 2px 2px 1px #353b48;
  transition: transform 0.3s ease-out;
  margin-right: 1em;
}

#home .content .social .contact-details:hover {
  transform: translateY(5px);
}

#home .buttons {
  margin-top: 60px;
}

#home .buttons a {
  display: inline-block;
  margin: 15px 25px;
  color: #48dbfb;
  font-size: 1rem;
  font-weight: 500;
  width: 180px;
  border: 1px solid;
  padding: 14px 0;
  border-radius: 6px;
  transition: 0.2s linear;
}

#home .buttons a:hover, #home .buttons a:nth-child(2) {
  color: #fff;
  background-color: #48dbfb;
}

@media (max-width: 960px) {
  .navbar .menu-toggler {
    display: block;
  }
  .navbar .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }
  .navbar .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }
  .navbar .menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }
  .navbar .navbar-menu {
    position: fixed;
    height: 100vh;
    background-color: #353b48;
    width: 100%;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: 0.3s linear;
  }
  .navbar .navbar-menu.active {
    right: 0;
  }
  .navbar .navbar-menu a {
    display: block;
    font-size: 1.5rem;
    margin: 30px 0;
  }
}

.sticky .navbar-menu {
  background-color: #fff;
}
/*# sourceMappingURL=header.css.map */