@media screen and (max-width: 960px) {
  .container {
    max-width: 800px;
  }

  /* Navbar */
  .navbar .menu-toggler {
    display: block;
  }

  .navbar .navbar-menu {
    position: fixed;
    height: 100vh;
    background-color: #353b48;
    width: 100%;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: 0.3s linear;
  }

  .navbar .navbar-menu a {
    display: block;
    font-size: 1.5rem;
    margin: 30px 0;
  }

  .sticky .navbar-menu {
    background-color: #f1f1f1;
  }

  .navbar-menu.active {
    right: 0;
  }

  .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }

  /* About */
  #about .profile {
    margin: 0 auto 60px;
  }

  #about .about-text {
    flex: 100%;
    text-align: center;
  }

  /* Certificate */
  #certificate .block {
    width: calc(100% - 20px);
    margin-left: auto;
  }

  /* Projects */
  #projects .project {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Contact */
  #contact .contact-info .item {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }

  /* About */
  #about .skill {
    width: 100%;
  }

  /* Projects */
  #projects .project {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Contact */
  #contact .contact-form .name,
  #contact .contact-form .email {
    width: 100%;
  }
}
