@import "fonts";
@import "variables";
@import "mixins";

// About Section
#about {
  .about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .profile {
    width: 200px;
    border-radius: 50%;
    margin-right: 100px;
  }

  .about-text {
    flex: 1;

    h3 {
      margin: 10px 0;
      color: #444;
      font-size: 1rem;

      &:nth-child(1):after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #444;
        display: inline-block;
        border-radius: 50%;
        margin: 0 10px;
      }
    }

    p {
      font-size: 1.1rem;
      text-align: justify;
      line-height: 1.8rem;
      margin-top: 20px;

      &.quote {
        font-family: "Gloria Hallelujah", cursive;
        font-size: 0.8rem;
      }
    }
  }

  .skills {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skill {
    width: calc(50% - 20px);
    margin: 15px 0;
  }

  .skill-info {
    display: flex;
    justify-content: space-between;
  }

  .skill-bar {
    height: 3px;
    background-color: #ddd;
    margin-top: 14px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 6px;
      background-color: $primary;
      bottom: 0;
    }
  }

  .html::after {
    width: 65%;
  }

  .js::after {
    width: 25%;
  }

  .sql::after {
    width: 35%;
  }

  .python::after {
    width: 65%;
  }

  .php::after {
    width: 45%;
  }

  .java::after {
    width: 30%;
  }
}

@media (max-width: 960px) {
  #about {
    .profile {
      margin: 0 auto 60px;
    }

    .about-text {
      flex: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  #about {
    .skill {
      width: 100%;
    }
  }
}
